html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 1rem;
  background-color: #dcd4cd;
  color: #000;
  border: 3px solid #9a816d;
  border-radius: 3px;
  text-align: center;
}

.link-card h2 {
  margin: 0 0 1rem;
  padding: 0;
  font-family: Dosis, serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #512200;
  text-align: left;
}

.link-card:hover {
  background-color: #cabdb2;
}

a {
  text-decoration: none;
}
.link-card p {
  margin: 0 0 1rem;
  padding: 0;
  color: #512200;
  text-decoration: none;
  text-align: left;
}

.link-card nav {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  margin: 0;
  padding: 0;
  text-align: left;
}

.link-card dl {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.35;
}

.link-card dt {
  color: #512200;
  font-size: .875rem;
  width: 30%;
  display: inline-block;
  text-decoration: none;
}

.link-card dd {
  color: #512200;
  font-size: .875rem;
  width: 35%;
  display: inline-block;
}

.link-card strong {
  display: inline-block;
  margin: 1rem 0 0;
  padding: .4em .75em .5em;
  font-family: Dosis, serif;
  font-size: 1.125rem;
  color: #f0eee8;
  background-color: #785439;
  border-radius: 8px;
  text-align: center;
}
